h2{
    font-size: 35px;
}

h5{
    font-size: 20px;
    font-weight: lighter;
}

#summary{
    text-align: center;
    width: 50%;
    margin-left: 23%;
    margin-top: 3%;
    padding: 1%;
    background-color: #E9E2E2;
    border-radius: 15px;
}

#line-a{
    width: 70%;
    opacity: 0.34;
}

#line-b{
    width: 90%;
}


.button {
    background-color: #111827;
    border: 1px solid transparent;
    border-radius: .75rem;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: "Inter var",ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.5rem;
    padding: .75rem 1.2rem;
    text-align: center;
    text-decoration: none #6B7280 solid;
    transition-duration: .2s;
    transition-property: background-color,border-color,color,fill,stroke;
    transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 20%;
    margin-left: 40%;
    margin-top: 3%;

  }
  
  .button:hover {
    background-color: #374151;
  }
  
  .button:focus {
    box-shadow: none;
    outline: 2px solid transparent;
    outline-offset: 2px;
  }
  
  @media (min-width: 768px) {
    .button {
      padding: .75rem 1.5rem;
    }
  }

  @media(max-width:500px){
    h2{
        font-size: 35px;
    }

    #summary{
        width: 70%;
        margin-left: 13%;
        margin-top: 10%;
        padding: 1%;
    }

    .button{
        width: 40%;
        margin-left: 29%;
        margin-top: 8%;
    }
  }